.cartWrapper{
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    transition: all 1s ease-in-out;
  
  }
  .cartContainer{
    height: 100vh;
    width: 600px;
    background-color: #FFFFFF;
    float: right;
    padding: 40px 10px;
    position: relative;
    
  }

  .cartButton {
    display: flex;
    border: none;
    background-color: #FFFFFF;
    font-size: 20px;
  }

  .arrowIcon {
    display: flex;
    align-self: center;
    margin: 0 20px;
  }

  .empty {
    text-align: center;
    margin-top: 50px;
  }

  .cartIcon {
    font-size: 50px;
    margin: 20px;
  }
  .emptyHeader {
    font-size: 30px;
  }

  .continueShopping {
    font-size: 20px;
    margin: 20px 10px;
    padding: 10px 20px;
    background-color: #f2c301;
    border-radius: 25px;
    border: none;
    color: #000000;
    transition: 0.2s ease-in;
    cursor: pointer;
    text-align: center;
  }

  .continueShopping:hover, .checkout:hover {
    background-color: #fed901;
  }

  .productCart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    margin-top: 15px;
    overflow: auto;
    max-height: 70vh;
    padding: 20px 10px;
  }

  .product {
    padding: 20px 0px;
    border-bottom: 1px solid #ececec;
  }

  .cartProductImage {
    background-color: #fafafa;
    border-radius: 25px;
    width: 150px;
    margin: auto;
    float: left;
  }

  .itemDesc {
    display: flex;
    justify-content: space-between;
    width: 350px;
  }

  .nameQty {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 200px;
    margin: auto;
  }

  .itemName {
    font-weight: 400;
    font-size: 20px;
    margin: 20px;
  }

  .priceRemove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  
  .itemPrice {
    font-size: 20px;
  }

  .remove {
    background-color: #FFFFFF;
    border: none;
    color: red;
    cursor: pointer;
  }

  .total {
    display: flex;
    justify-content: space-between;
  }
  .cartBottom h3 {
    display: inline-flex;
    font-size: 30px;
    margin: 20px 50px;
  }

  .cartBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .checkout {
    font-size: 20px;
    padding: 10px 20px;
    margin: auto;
    margin-top: 20px;
    background-color: #f2c301;
    border-radius: 25px;
    border: none;
    color: #000000;
    transition: 0.2s ease-in;
    cursor: pointer;
    text-align: center;
  }

  @media only screen and (max-width: 810px) {
    .cartContainer {
      width: 100vw;
    }

    .cartProductImage {
      float: none;
    }

  }