* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #000000;
}

.navContainer {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
}

.push {
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.logo {
    height: 55px;
    margin: auto;
    justify-content: flex-start;
}

.logo:hover {
    cursor: pointer;
}

.login {
    padding: 10px 20px;
    background-color: #f2c301;
    border-radius: 25px;
    color: #000000;
    transition: 0.2s ease-in;
}

.cart {
    padding: 10px;
    color: #000000;
}

.fa-layers-counter {
    font-size: 50px;
    margin: -15px;
}

.login:hover {
    background-color: #fed901;
    cursor: pointer;
}

.cart:hover {
    opacity: 0.8;
    cursor: pointer;
}

.searchIcon:hover {
    color: #fed901;
    cursor: pointer;
}

h2 {
    margin: 20px;
    font-size: 18px;
}

.link {
    text-decoration: none;
    margin: auto;
}

@media only screen and (max-width: 1080px) {

    .logo {
        height: 40px;
    }

    .searchBox {
        width: 0;
        height: 0;
        border: none;
    }

    .searchIcon {
        font-size: 0;
        padding: 0;
        border: none;
    }

    .login {
        margin: auto;
        padding: 10px;
    }

    .cart {
        margin-right: 10px;
    }
}