.productCard {
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    max-height: 400px;
    flex: 1;
    background-color: #fafafa;
    display: flex;
}

.productImage img {
    width: 99%;
    position: relative;
}

.infoContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    opacity: 1;
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    max-height: 400px;
    background-color: #f0f0f0;
    opacity: 0;
    transition: 0.5s ease-in;
    overflow: hidden;
}

.icons {
    display: inline-flex;
}

.iconContainer {
    margin: auto;
}

.productIcon {
    font-size: 20px;
    color: #ffffff;
    background-color: #f2c301;
    padding: 20px;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    transition: 0.2s ease-in;
}

.infoContainer:hover {
    opacity: 0.8;
}

.productIcon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.productName {
    display: flex;
    margin: 20px;
    margin-bottom: 50px;
}

.productSalePrice {
    display: flex;
    margin-top: 50px;
}

.productName h1 {
    margin: auto;
    font-size: 30px;
}

.productSalePrice h2 {
    margin: auto;
    font-size: 30px;
    color: red;
}

@media only screen and (max-width: 810px) {
    .productCard {
        min-width: 300px;
        min-height: 300px;
    }

    .infoContainer {
        min-width: 350px;
        min-height: 350px;
    }
}