* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: inline-flex;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #000000;
}

.push {
    margin-left: auto;
    display: inline-flex;
}

.logo {
    height: 55px;
    margin: 0px 20px;
    justify-content: center;
}

.login {
    margin: 20px;
    padding: 10px 20px;
    background-color: #f2c301;
    border-radius: 25px;
    color: #000000;
}

.cart {
    margin: 20px;
    margin-right: 40px;
    padding: 10px;
    color: #000000;
}

.login:hover {
    opacity: 0.8;
    cursor: pointer;
}

h2 {
    margin: 20px 40px;
    font-size: 18px;
}

.icon {
    margin-right: 10px;
}