* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: inline-flex;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
}

.push {
    margin-left: auto;
    display: inline-flex;
}

.logo {
    height: 55px;
    margin: 0px 20px;
    justify-content: center;
}

.login {
    margin: 0;
    padding: 20px 40px;
    background-color: #000000;
    color: #ffffff;
}

.login:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

h2 {
    margin: 20px 40px;
    font-size: 18px;
}

.icon {
    margin-right: 10px;
}